<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartmeterv3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMARTMETERV3"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".dummy"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Otp_Screen3"
            android:exported="true" />
        <activity
            android:name=".connect_iot"
            android:exported="true" />
        <activity
            android:name=".Enter_Limit_Screen"
            android:exported="true" />
        <activity
            android:name=".Otp_Screen2"
            android:exported="true" />
        <activity
            android:name=".Change_pin"
            android:exported="true" />
        <activity
            android:name=".Dashboard_Screen"
            android:exported="true" />
        <activity
            android:name=".SignupScreen"
            android:exported="true" />
        <activity
            android:name=".Login_Screen2"
            android:exported="true" />
        <activity
            android:name=".OtpScreen"
            android:exported="true" />
        <activity
            android:name=".EnterPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".Login_Screen"
            android:exported="true" />
        <activity
            android:name=".Onboarding_Screen"
            android:exported="true" />
        <activity
            android:name=".app_open_anim"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>